{% extends 'userDB_app/base.html' %}

{% block title %}
Home
{% endblock %}


{% block body_block %}

<div class="jumbotron body text-white">
    <h1 class="text-center">Welcome!</h1>
    <br>
    <h2 class="text-center">Django Test Project </h2>
    <p class="text-center">Authentication & User Database Test</p>

    <form>



        <div class="card text-white bg-dark text-center container card-shadow"
            style="max-width: 25rem;padding-top: 20px;padding-right: 20px;padding-left: 20px;">
            <div class="card-header lead">Add user to Database</div>
            <div class="card-body">
                <div class="form-group">
                    <form enctype="multipart/form-data" method="POST">
                        <div class="form-group row">
                            {% csrf_token %}

                            {{ form.first_name }}
                            {{ form.last_name }}
                            {{ form.username }}
                            {{ form.email }}
                            {{ form.bot_catcher }}

                            <input class="btn btn-outline-success container" style="max-width: 20rem;" type="submit"
                                value="Submit">


                    </form>
                </div>
            </div>

        </div>



</div>




{% endblock %}