{% extends 'userDB_app/base.html' %}

{% block title %}
Login
{% endblock %}

{% block head_css %}
<style>
    html {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
</style>
{% endblock %}

{% block body_block %}


<div class="login">
    <h1 class="text-monospace">Login</h1>
    <form action="{% url 'userDB_app:user_login' %}" method="post">
        {% csrf_token %}
        <input class='input' type="text" name="username" placeholder="Username" required="required" />
        <input class='input' type="password" name="password" placeholder="Password" required="required" />
        <button type="submit" class="btnn btnn-primary btnn-block btnn-large">Let me in.</button>
        <br>
        <p class="text-monospace text-white">Don't have an account yet? <br>Don't worry. We've got your back!</p>
        <a class="btnn btnn-primary btnn-block btnn-large" href="{% url 'userDB_app:register' %}">Register here</a>
    </form>
</div>

{% endblock %}